/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

#modal-toggle {
    display: none;
}

/* Modal default */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

/* OPEN STATE */
#modal-toggle:checked ~ .modal {
    display: block;
}

/* Modal box */
.modal-content {
    background: white;
    width: 400px;
    margin: 150px auto;
    border-radius: 6px;
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.close-modal {
    cursor: pointer;
    font-size: 22px;
}

/* Body */
.modal-body {
    padding: 15px;
}
